### Import libraries

In [1]:
import pandas as pd

### Read data

In [2]:
movies_df = pd.read_csv("Movie.csv")

### Data understanding

In [3]:
movies_df.shape

(8992, 3)

In [4]:
movies_df.isna().sum()

userId    0
movie     0
rating    0
dtype: int64

In [5]:
movies_df["movie"].unique()

array(['Toy Story (1995)', 'Jumanji (1995)', 'Grumpier Old Men (1995)',
       'Waiting to Exhale (1995)', 'Father of the Bride Part II (1995)',
       'Heat (1995)', 'Sabrina (1995)', 'Tom and Huck (1995)',
       'Sudden Death (1995)', 'GoldenEye (1995)'], dtype=object)

In [6]:
movies_df["movie"].nunique()

10

In [7]:
movies_df["userId"].nunique()

4081

### Abrivations

- UBCF - User Based Collaborative Filtering
- IBCF - Item Based Collaborative Filtering

### 1. Correlation Matrix for Recommendations

In [11]:
movies_df["userId"].unique()

array([   3,    6,    8, ..., 7080, 7087, 7105])

In [12]:
user_recomm_corr = pd.pivot_table(data=movies_df,values="rating",index="movie",columns="userId").fillna(0)
user_recomm_corr.head()

userId,1,2,3,4,5,6,7,8,10,11,...,7105,7107,7108,7110,7113,7115,7116,7117,7119,7120
movie,,,,,,,,,,,,,,,,,,,,,
Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,3.5,0.0,0.0,0.0
GoldenEye (1995),0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,2.5,...,2.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0
Grumpier Old Men (1995),0.0,4.0,0.0,0.0,0.0,3.0,3.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
Heat (1995),0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,0.0
Jumanji (1995),3.5,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,4.0

In [13]:
user_recomm_corr.columns = movies_df['userId'].unique()

In [15]:
user_recomm_corr

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
movie,,,,,,,,,,,,,,,,,,,,,
Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,3.5,0.0,0.0,0.0
GoldenEye (1995),0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,2.5,...,2.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0
Grumpier Old Men (1995),0.0,4.0,0.0,0.0,0.0,3.0,3.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
Heat (1995),0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,0.0
Jumanji (1995),3.5,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,4.0
Sabrina (1995),0.0,0.0,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0
Sudden Death (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Tom and Huck (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Toy Story (1995),0.0,0.0,4.0,0.0,0.0,5.0,0.0,4.0,4.0,4.5,...,0.0,4.0,0.0,4.0,0.0,0.0,4.0,4.0,5.0,4.5
Waiting to Exhale (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 2. Eclideon Distance metric For Recommendations

In [16]:
from sklearn.metrics import pairwise_distances

In [ ]:
user_recomm_transpose = user_recomm_corr.T

In [20]:
user_recomm_euclideon = user_recomm_transpose.values

In [23]:
eclidean_distance_df = pairwise_distances(X=user_recomm_euclideon,metric='euclidean')

In [26]:
euclidean_distance_df_new = pd.DataFrame(data=eclidean_distance_df,columns=movies_df['userId'].unique(),index=movies_df['userId'].unique())

In [31]:
euclidean_distance_df_new.iloc[:15,:15].idxmin()

3      3
6      6
8      8
10    10
11    11
12    12
13    13
14    14
16     8
19    19
22    22
23    23
24    24
31    31
34    34
dtype: int64

In [30]:
euclidean_distance_df_new.iloc[:15,:15]

,3,6,8,10,11,12,13,14,16,19,22,23,24,31,34
3,0.000000,5.315073,5.315073,6.103278,0.500000,8.440972,5.500000,8.845903,5.315073,6.224950,7.697402,5.024938,6.689544,4.031129,5.500000
6,5.315073,0.000000,5.656854,6.403124,5.000000,7.141428,3.162278,6.480741,5.656854,6.519202,6.244998,7.071068,6.964194,4.472136,5.830952
8,5.315073,5.656854,0.000000,6.403124,5.000000,5.916080,5.830952,7.071068,0.000000,2.549510,5.567764,4.242641,3.535534,4.472136,3.162278
10,6.103278,6.403124,6.403124,0.000000,5.830952,9.165151,6.557439,6.403124,6.403124,5.612486,7.348469,5.916080,7.582875,3.605551,5.000000
11,0.500000,5.000000,5.000000,5.830952,0.000000,8.246211,5.196152,8.660254,5.000000,5.958188,7.483315,5.000000,6.442049,3.605551,5.196152
12,8.440972,7.141428,5.916080,9.165151,8.246211,0.000000,5.385165,7.416198,5.916080,6.363961,4.242641,7.280110,3.391165,7.937254,6.855655
13,5.500000,3.162278,5.830952,6.557439,5.196152,5.385165,0.000000,7.348469,5.830952,6.670832,5.385165,7.211103,5.431390,4.690416,6.000000
14,8.845903,6.480741,7.071068,6.403124,8.660254,7.416198,7.348469,0.000000,7.071068,6.041523,5.744563,6.633250,7.905694,7.348469,6.480741
16,5.315073,5.656854,0.000000,6.403124,5.000000,5.916080,5.830952,7.071068,0.000000,2.549510,5.567764,4.242641,3.535534,4.472136,3.162278
19,6.224950,6.519202,2.549510,5.612486,5.958188,6.363961,6.670832,6.041523,2.549510,0.000000,6.123724,3.082207,4.301163,4.527693,4.183300
22,7.697402,6.244998,5.567764,7.348469,7.483315,4.242641,5.385165,5.744563,5.567764,6.123724,0.000000,7.000000,4.743416,7.141428,4.795832
23,5.024938,7.071068,4.242641,5.916080,5.000000,7.280110,7.211103,6.633250,4.242641,3.082207,7.000000,0.000000,5.522681,5.099020,5.291503
24,6.689544,6.964194,3.535534,7.582875,6.442049,3.391165,5.431390,7.905694,3.535534,4.301163,4.743416,5.522681,0.000000,6.041523,4.847680
31,4.031129,4.472136,4.472136,3.605551,3.605551,7.937254,4.690416,7.348469,4.472136,4.527693,7.141428,5.099020,6.041523,0.000000,4.690416
34,5.500000,5.830952,3.162278,5.000000,5.196152,6.855655,6.000000,6.480741,3.162278,4.183300,4.795832,5.291503,4.847680,4.690416,0.000000

In [32]:
import numpy as np

In [33]:
np.fill_diagonal(euclidean_distance_df_new.to_numpy(),val=100)

In [34]:
euclidean_distance_df_new.iloc[:15,:15].idxmin()

3     11
6     13
8     16
10    31
11     3
12    24
13     6
14    22
16     8
19     8
22    12
23    19
24    12
31    10
34     8
dtype: int64

### Cosine Similarity for Recommendation Engine

In [37]:
cosine_sim_df = 1- pairwise_distances(X=user_recomm_euclideon,metric='cosine')
cosine_sim_df_new = pd.DataFrame(data=cosine_sim_df,columns=movies_df['userId'].unique(),index=movies_df['userId'].unique())

In [42]:
np.fill_diagonal(cosine_sim_df_new.to_numpy(),val=0)

In [43]:
cosine_sim_df_new.iloc[:15,:15].idxmax()

3     11
6     13
8     16
10    31
11     3
12    24
13    12
14    22
16     8
19     8
22    12
23    19
24    12
31    10
34    22
dtype: int64

In [40]:
cosine_sim_df_new.iloc[:15,:15]

,3,6,8,10,11,12,13,14,16,19,22,23,24,31,34
3,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.514496,0.000000,0.000000,0.000000
6,0.000000,1.000000,0.000000,0.000000,0.000000,0.390567,0.707107,0.615457,0.000000,0.000000,0.437595,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,1.000000,0.000000,0.000000,0.650945,0.000000,0.492366,1.000000,0.874157,0.583460,0.685994,0.789352,0.000000,0.707107
10,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.615457,0.000000,0.388514,0.262557,0.411597,0.000000,0.800000,0.424264
11,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.514496,0.000000,0.000000,0.000000
12,0.000000,0.390567,0.650945,0.000000,0.000000,1.000000,0.736460,0.560880,0.650945,0.569028,0.835560,0.446544,0.913466,0.000000,0.460287
13,0.000000,0.707107,0.000000,0.000000,0.000000,0.736460,1.000000,0.435194,0.000000,0.000000,0.618853,0.000000,0.434122,0.000000,0.000000
14,0.000000,0.615457,0.492366,0.615457,0.000000,0.560880,0.435194,1.000000,0.492366,0.669519,0.718190,0.591080,0.388650,0.492366,0.609272
16,0.000000,0.000000,1.000000,0.000000,0.000000,0.650945,0.000000,0.492366,1.000000,0.874157,0.583460,0.685994,0.789352,0.000000,0.707107
19,0.000000,0.000000,0.874157,0.388514,0.000000,0.569028,0.000000,0.669519,0.874157,1.000000,0.510036,0.849528,0.690018,0.485643,0.618123
22,0.000000,0.437595,0.583460,0.262557,0.000000,0.835560,0.618853,0.718190,0.583460,0.510036,1.000000,0.400250,0.729213,0.000000,0.721995
23,0.514496,0.000000,0.685994,0.411597,0.514496,0.446544,0.000000,0.591080,0.685994,0.849528,0.400250,1.000000,0.541491,0.514496,0.485071
24,0.000000,0.000000,0.789352,0.000000,0.000000,0.913466,0.434122,0.388650,0.789352,0.690018,0.729213,0.541491,1.000000,0.000000,0.558156
31,0.000000,0.000000,0.000000,0.800000,0.000000,0.000000,0.000000,0.492366,0.000000,0.485643,0.000000,0.514496,0.000000,1.000000,0.000000
34,0.000000,0.000000,0.707107,0.424264,0.000000,0.460287,0.000000,0.609272,0.707107,0.618123,0.721995,0.485071,0.558156,0.000000,1.000000

In [47]:
movies_df[movies_df['userId']== 34]

      userId             movie  rating
14        34  Toy Story (1995)     5.0
2573      34    Jumanji (1995)     3.0
6470      34    Sabrina (1995)     3.0
7452      34  GoldenEye (1995)     5.0

In [48]:
movies_df[movies_df['userId']== 8]

      userId                    movie  rating
2          8         Toy Story (1995)     4.0
3727       8  Grumpier Old Men (1995)     5.0
5205       8              Heat (1995)     3.0
7445       8         GoldenEye (1995)     4.0

In [49]:
movies_df[movies_df['userId']== 22]

      userId             movie  rating
10        22  Toy Story (1995)     3.0
5211      22       Heat (1995)     5.0

In [50]:
movies_df[movies_df['userId']== 3]

   userId             movie  rating
0       3  Toy Story (1995)     4.0

In [51]:
movies_df[movies_df['userId']== 11]

      userId             movie  rating
4         11  Toy Story (1995)     4.5
7446      11  GoldenEye (1995)     2.5

## Since User 3 & User 11 watched Toy Story we can recommend GoldenEye to User 3